# OS
.DS_Store
Thumbs.db

node_modules/
.wrangler/
wrangler.toml
AGENTS.md

# Husky internal files
.husky/_

# Editor
.vscode/
.idea/
.trae/
.gemini/
.cursor/
.codex/
.claude/
.kiro/
.github/
.agent/
.roo/
.shared/
.windsurf/
*.swp
*.swo
